{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "ecmaFeatures": {},
  "env": {
    "es6": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "it": true,
    "expect": true,
    "document": true,
    "fetch": true,
    "console": true,
    "process": true,
    "describe": true,
    "window": true,
    "beforeEach": true,
    "context": true,
    "cy": true,
    "Cypress": true,
    "assert": true,
    "module": true,
    "XMLHttpRequest": true
  },
  "rules": {
    "no-console": "off"
  }
}
