{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "it": true,
    "expect": true,
    "document": true,
    "fetch": true,
    "console": true,
    "process": true,
    "describe": true,
    "window": true
  },
  "rules": {
    "no-console": "off"
  }
}
