/* TODO: pull this out to material ui style declaration */
.app {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-container {
    width: 50%;
    min-width: 400px;
    height: 100%;
}